<div class="container">
    <div class="image"></div>
    <div class="keyword"></div>
    <div class="category"></div>
    <div class="keyboard">
        <div class="keys">
            <button class="btn-Q" (click)="checkLetter('Q')">Q</button>
            <button class="btn-W" (click)="checkLetter('W')">W</button>
            <button class="btn-E" (click)="checkLetter('E')">E</button>
            <button class="btn-R" (click)="checkLetter('R')">R</button>
            <button class="btn-T" (click)="checkLetter('T')">T</button>
            <button class="btn-Y" (click)="checkLetter('Y')">Y</button>
            <button class="btn-U" (click)="checkLetter('U')">U</button>
            <button class="btn-I" (click)="checkLetter('I')">I</button>
            <button class="btn-O" (click)="checkLetter('O')">O</button>
            <button class="btn-P" (click)="checkLetter('P')">P</button>
        </div>

        <div class="keys">
            <button class="btn-A" (click)="checkLetter('A')">A</button>
            <button class="btn-S" (click)="checkLetter('S')">S</button>
            <button class="btn-D" (click)="checkLetter('D')">D</button>
            <button class="btn-F" (click)="checkLetter('F')">F</button>
            <button class="btn-G" (click)="checkLetter('G')">G</button>
            <button class="btn-H" (click)="checkLetter('H')">H</button>
            <button class="btn-J" (click)="checkLetter('J')">J</button>
            <button class="btn-K" (click)="checkLetter('K')">K</button>
            <button class="btn-L" (click)="checkLetter('L')">L</button>

        </div>

        <div class="keys">
            <button class="btn-Z" (click)="checkLetter('Z')">Z</button>
            <button class="btn-X" (click)="checkLetter('X')">X</button>
            <button class="btn-C" (click)="checkLetter('C')">C</button>
            <button class="btn-V" (click)="checkLetter('V')">V</button>
            <button class="btn-B" (click)="checkLetter('B')">B</button>
            <button class="btn-N" (click)="checkLetter('N')">N</button>
            <button class="btn-M" (click)="checkLetter('M')">M</button>
            <div class="refresh">
                <button class="btn" (click)="reload()"><i style="font-size: 1.5rem" class="pi pi-refresh "></i></button>
            </div>
        </div>
    </div>

</div>